[data-family=button] {
  & .formkit-input {
    position: relative;
    z-index: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-inline-size: var(--container-width);
    block-size: var(--container-height);
    padding-block-start: var(--spacing-top);
    padding-block-end: var(--spacing-bottom);
    padding-inline-start: var(--spacing-leading);
    padding-inline-end: var(--spacing-trailing);
    gap: 8px;

    opacity: var(--text-opacity);
    color: var(--text-color);
    background-color: transparent;
    border-start-start-radius: var(--container-shape-start-start);
    border-start-end-radius: var(--container-shape-start-end);
    border-end-start-radius: var(--container-shape-end-start);
    border-end-end-radius: var(--container-shape-end-end);

    user-select: none;

    font-family: var(--text-font);
    line-height: var(--text-line-height);
    font-size: var(--text-size);
    letter-spacing: var(--text-tracking);
    font-weight: var(--text-weight);
  }

  & .formkit-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: var(--icon-opacity);
    color: var(--icon-color, inherit);

    &.formkit-prefix-icon svg {
      inline-size: var(--prefix-icon-width);
      block-size: var(--prefix-icon-height);
    }

    &.formkit-suffix-icon svg {
      inline-size: var(--suffix-icon-width);
      block-size: var(--suffix-icon-height);
    }
  }
}

[data-family=text][data-prefix-icon=true] .formkit-wrapper {
  padding-inline-start: var(--with-icon-spacing-leading);
}

[data-family=text][data-suffix-icon=true] .formkit-wrapper {
  padding-inline-end: var(--with-icon-spacing-trailing);
}

/* ----- States ----- */
/* Disabled state */
[data-family=button][data-disabled=true] {
  pointer-events: none;
}
