[data-family=button][data-variant=outlined] {
  --container-width: var(--mdf-comp-outlined-button-container-width, var(--mdf-comp-button-container-width, 64px));
  --container-height: var(--mdf-comp-outlined-button-container-height, var(--mdf-comp-button-container-height, 40px));
  --container-shape-start-start: var(--mdf-comp-outlined-button-container-shape-start-start, var(--mdf-comp-button-container-shape-start-start, var(--mdf-sys-shape-corner-large)));
  --container-shape-start-end: var(--mdf-comp-outlined-button-container-shape-start-end, var(--mdf-comp-button-container-shape-start-end, var(--mdf-sys-shape-corner-large)));
  --container-shape-end-start: var(--mdf-comp-outlined-button-container-shape-end-start, var(--mdf-comp-button-container-shape-end-start, var(--mdf-sys-shape-corner-large)));
  --container-shape-end-end: var(--mdf-comp-outlined-button-container-shape-end-end, var(--mdf-comp-button-container-shape-end-end, var(--mdf-sys-shape-corner-large)));

  --spacing-leading: var(--mdf-comp-outlined-button-spacing-leading, var(--mdf-comp-button-spacing-leading, 24px));
  --spacing-trailing: var(--mdf-comp-outlined-button-spacing-trailing, var(--mdf-comp-button-spacing-trailing, 24px));
  --with-icon-spacing-leading: var(--mdf-comp-outlined-button-with-icon-spacing-leading, var(--mdf-comp-button-with-icon-spacing-leading, 16px));
  --with-icon-spacing-trailing: var(--mdf-comp-outlined-button-with-icon-spacing-trailing, var(--mdf-comp-button-with-icon-spacing-trailing, 16px));

  --text-color: var(--mdf-comp-outlined-button-text-color, var(--mdf-comp-button-text-color, var(--mdf-sys-color-primary)));
  --text-font: var(--mdf-comp-outlined-button-text-font, var(--mdf-comp-button-text-font, var(--mdf-sys-typescale-label-large-font)));
  --text-line-height: var(--mdf-comp-outlined-button-text-line-height, var(--mdf-comp-button-text-line-height, var(--mdf-sys-typescale-label-large-line-height)));
  --text-size: var(--mdf-comp-outlined-button-text-size, var(--mdf-comp-button-text-size, var(--mdf-sys-typescale-label-large-size)));
  --text-tracking: var(--mdf-comp-outlined-button-text-tracking, var(--mdf-comp-button-text-tracking, var(--mdf-sys-typescale-label-large-tracking)));
  --text-weight: var(--mdf-comp-outlined-button-text-weight, var(--mdf-comp-button-text-weight, var(--mdf-sys-typescale-label-large-weight)));

  & .formkit-icon {
    --prefix-icon-width: var(--mdf-comp-outlined-button-prefix-icon-width, var(--mdf-comp-button-prefix-icon-width, 18px));
    --prefix-icon-height: var(--mdf-comp-outlined-button-prefix-icon-height, var(--mdf-comp-button-prefix-icon-height, 18px));
    --suffix-icon-width: var(--mdf-comp-outlined-button-suffix-icon-width, var(--mdf-comp-button-suffix-icon-width, 18px));
    --suffix-icon-height: var(--mdf-comp-outlined-button-suffix-icon-height, var(--mdf-comp-button-suffix-icon-height, 18px));
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-button-outline-color, var(--mdf-comp-button-outline-color, var(--mdf-sys-color-outline)));
    --outline-width: var(--mdf-comp-outlined-button-outline-width, var(--mdf-comp-button-outline-width, 1px));
    --outline-style: var(--mdf-comp-outlined-button-outline-style, var(--mdf-comp-button-outline-style, solid));
  }
}

/* ----- States ----- */
/* Disabled state */
[data-family=button][data-variant=outlined][data-disabled=true] {
  --text-opacity: var(--mdf-comp-outlined-button-disabled-text-opacity, var(--mdf-comp-button-disabled-text-opacity, 0.38));
  --text-color: var(--mdf-comp-outlined-button-disabled-text-color, var(--mdf-comp-button-disabled-text-color, var(--mdf-sys-color-on-surface)));

  & .mdf-container {
    --container-opacity: var(--mdf-comp-outlined-button-disabled-container-opacity, var(--mdf-comp-button-disabled-container-opacity, 0.12));
  }

  & .mdf-outline {
    --outline-opacity: var(--mdf-comp-outlined-button-disabled-outline-opacity, var(--mdf-comp-button-disabled-outline-opacity, 0.12));
    --outline-color: var(--mdf-comp-outlined-button-outline-color, var(--mdf-comp-button-outline-color, var(--mdf-sys-color-on-surface)));
  }
}

/* Hovered state */
[data-family=button][data-variant=outlined][data-hovered=true] {
  & .mdf-surface::before {
    --layer-opacity: var(--mdf-comp-outlined-button-hover-layer-opacity, var(--mdf-comp-button-hover-layer-opacity, var(--mdf-sys-state-hover-state-layer-opacity)));
    --layer-color: var(--mdf-comp-outlined-button-hover-layer-color, var(--mdf-comp-button-hover-layer-color, var(--mdf-sys-color-primary)));
  }
}

/* Focused state */
[data-family=button][data-variant=outlined][data-focused=true] {
  & .mdf-surface::before {
    --layer-opacity: var(--mdf-comp-outlined-button-focus-layer-opacity, var(--mdf-comp-button-focus-layer-opacity, var(--mdf-sys-state-focus-state-layer-opacity)));
    --layer-color: var(--mdf-comp-outlined-button-focus-layer-color, var(--mdf-comp-button-focus-layer-color, var(--mdf-sys-color-primary)));
  }
}

/* Pressed state */
[data-family=button][data-variant=outlined][data-pressed=true] {
  & .mdf-surface::before {
    --layer-opacity: var(--mdf-comp-outlined-button-pressed-layer-opacity, var(--mdf-comp-button-pressed-layer-opacity, var(--mdf-sys-state-pressed-state-layer-opacity)));
    --layer-color: var(--mdf-comp-outlined-button-pressed-layer-color, var(--mdf-comp-button-pressed-layer-color, var(--mdf-sys-color-primary)));
  }
}
