[data-family=text][data-variant=outlined] {
  --container-height: var(--mdf-comp-outlined-text-field-container-height, var(--mdf-comp-text-field-container-height, 56px));
  --container-shape-start-start: var(--mdf-comp-outlined-text-field-container-shape-start-start, var(--mdf-comp-text-field-container-shape-start-start, var(--mdf-sys-shape-corner-extra-small)));
  --container-shape-start-end: var(--mdf-comp-outlined-text-field-container-shape-start-end, var(--mdf-comp-text-field-container-shape-start-end, var(--mdf-sys-shape-corner-extra-small)));
  --container-shape-end-start: var(--mdf-comp-outlined-text-field-container-shape-end-start, var(--mdf-comp-text-field-container-shape-end-start, var(--mdf-sys-shape-corner-extra-small)));
  --container-shape-end-end: var(--mdf-comp-outlined-text-field-container-shape-end-end, var(--mdf-comp-text-field-container-shape-end-end, var(--mdf-sys-shape-corner-extra-small)));

  --spacing-top: var(--mdf-comp-outlined-text-field-spacing-top, var(--mdf-comp-text-field-spacing-top, 8px));
  --spacing-bottom: var(--mdf-comp-outlined-text-field-spacing-bottom, var(--mdf-comp-text-field-spacing-bottom, 8px));
  --spacing-leading: var(--mdf-comp-outlined-text-field-spacing-leading, var(--mdf-comp-text-field-spacing-leading, 16px));
  --spacing-trailing: var(--mdf-comp-outlined-text-field-spacing-trailing, var(--mdf-comp-text-field-spacing-trailing, 16px));
  --with-icon-spacing-leading: var(--mdf-comp-outlined-text-field-with-icon-spacing-leading, var(--mdf-comp-text-field-with-icon-spacing-leading, 12px));
  --with-icon-spacing-trailing: var(--mdf-comp-outlined-text-field-with-icon-spacing-trailing, var(--mdf-comp-text-field-with-icon-spacing-trailing, 12px));

  & .formkit-icon {
    --icon-color: var(--mdf-comp-outlined-text-field-prefix-icon-color, var(--mdf-comp-text-field-prefix-icon-color, var(--mdf-sys-color-on-surface-variant)));

    --prefix-icon-width: var(--mdf-comp-outlined-text-field-prefix-icon-width, var(--mdf-comp-text-field-prefix-icon-width, 20px));
    --prefix-icon-height: var(--mdf-comp-outlined-text-field-prefix-icon-height, var(--mdf-comp-text-field-prefix-icon-height, 20px));
    --suffix-icon-width: var(--mdf-comp-outlined-text-field-suffix-icon-width, var(--mdf-comp-text-field-suffix-icon-width, 24px));
    --suffix-icon-height: var(--mdf-comp-outlined-text-field-suffix-icon-height, var(--mdf-comp-text-field-suffix-icon-height, 24px));
  }

  & .mdf-field {
    --text-color: var(--mdf-comp-outlined-text-field-text-color, var(--mdf-comp-text-field-text-color, var(--mdf-sys-color-on-surface-variant)));

    --text-font: var(--mdf-comp-outlined-text-field-text-font, var(--mdf-comp-text-field-text-font, var(--mdf-sys-typescale-body-large-font)));
    --text-line-height: var(--mdf-comp-outlined-text-field-text-line-height, var(--mdf-comp-text-field-text-line-height, var(--mdf-sys-typescale-body-large-line-height)));
    --text-size: var(--mdf-comp-outlined-text-field-text-size, var(--mdf-comp-text-field-text-size, var(--mdf-sys-typescale-body-large-size)));
    --text-tracking: var(--mdf-comp-outlined-text-field-text-tracking, var(--mdf-comp-text-field-text-tracking, var(--mdf-sys-typescale-body-large-tracking)));
    --text-weight: var(--mdf-comp-outlined-text-field-text-weight, var(--mdf-comp-text-field-text-weight, var(--mdf-sys-typescale-body-large-weight)));

    & .formkit-input {
      --input-color: var(--mdf-comp-outlined-text-field-input-color, var(--mdf-comp-text-field-input-color, var(--mdf-sys-color-on-surface)));
      --input-caret-color: var(--mdf-comp-outlined-text-field-input-caret-color, var(--mdf-comp-text-field-input-caret-color, var(--mdf-sys-color-primary)));
    }
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-outline-color, var(--mdf-comp-text-field-outline-color, var(--mdf-sys-color-outline)));
    --outline-width: var(--mdf-comp-outlined-text-field-outline-width, var(--mdf-comp-text-field-outline-width, 1px));
    --outline-style: var(--mdf-comp-outlined-text-field-outline-style, var(--mdf-comp-text-field-outline-style, solid));
  }
}

/* ----- States ----- */
/* Disabled state */
[data-family=text][data-variant=outlined][data-disabled=true] {
  & .mdf-field {
    --text-opacity: var(--mdf-comp-outlined-text-field-disabled-text-opacity, var(--mdf-comp-text-field-disabled-text-opacity, 0.38));
    --text-color: var(--mdf-comp-outlined-text-field-disabled-text-color, var(--mdf-comp-text-field-disabled-text-color, var(--mdf-sys-color-on-surface)));
  }

  & .mdf-outline {
    --outline-opacity: var(--mdf-comp-outlined-text-field-disabled-outline-opacity, var(--mdf-comp-text-field-disabled-outline-opacity, 0.12));
    --outline-color: var(--mdf-comp-outlined-text-field-disabled-outline-color, var(--mdf-comp-text-field-disabled-outline-color, var(--mdf-sys-color-on-surface)));
  }
}

/* Hovered state */
[data-family=text][data-variant=outlined][data-hovered=true] {
  & .mdf-field {
    --text-color: var(--mdf-comp-outlined-text-field-hover-text-color, var(--mdf-comp-text-field-hover-text-color, var(--mdf-sys-color-on-surface)));
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-hover-outline-color, var(--mdf-comp-text-field-hover-outline-color, var(--mdf-sys-color-on-surface)));
  }
}

/* Focused state */
[data-family=text][data-variant=outlined][data-focused=true] {
  & .mdf-field .formkit-label {
    --label-color: var(--mdf-comp-outlined-text-field-focus-label-color, var(--mdf-comp-text-field-focus-label-color, var(--mdf-sys-color-primary)));
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-focus-outline-color, var(--mdf-comp-text-field-focus-outline-color, var(--mdf-sys-color-primary)));
    --outline-width: var(--mdf-comp-outlined-text-field-focus-outline-width, var(--mdf-comp-text-field-focus-outline-width, 2px));
  }
}

/* ----- Invalid ----- */
[data-family=text][data-variant=outlined][data-invalid=true] {
  & .formkit-icon.formkit-suffix-icon {
    --icon-color: var(--mdf-comp-outlined-text-field-invalid-suffix-icon-color, var(--mdf-comp-text-field-invalid-suffix-icon-color, var(--mdf-sys-color-error)));
  }

  & .mdf-field {
    & .formkit-input {
      --input-color: var(--mdf-comp-outlined-text-field-invalid-input-color, var(--mdf-comp-text-field-invalid-input-color, var(--mdf-sys-color-on-surface)));
    }

    & .formkit-label {
      --label-color: var(--mdf-comp-outlined-text-field-invalid-label-color, var(--mdf-comp-text-field-invalid-label-color, var(--mdf-sys-color-error)));
    }
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-invalid-outline-color, var(--mdf-comp-text-field-invalid-outline-color, var(--mdf-sys-color-error)));
  }
}

/* Hovered state */
[data-family=text][data-variant=outlined][data-invalid=true][data-hovered=true] {
  & .formkit-icon.formkit-suffix-icon {
    --icon-color: var(--mdf-comp-outlined-text-field-invalid-hover-suffix-icon-color, var(--mdf-comp-text-field-invalid-hover-suffix-icon-color, var(--mdf-sys-color-on-error-container)));
  }

  & .mdf-field {
    & .formkit-input {
      --input-color: var(--mdf-comp-outlined-text-field-invalid-hover-input-color, var(--mdf-comp-text-field-invalid-hover-input-color, var(--mdf-sys-color-on-surface)));
    }

    & .formkit-label {
      --label-color: var(--mdf-comp-outlined-text-field-invalid-hover-label-color, var(--mdf-comp-text-field-invalid-hover-label-color, var(--mdf-sys-color-on-error-container)));
    }
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-invalid-hover-outline-color, var(--mdf-comp-text-field-invalid-hover-outline-color, var(--mdf-sys-color-on-error-container)));
  }
}

/* Focused state */
[data-family=text][data-variant=outlined][data-invalid=true][data-focused=true] {
  & .formkit-icon.formkit-suffix-icon {
    --icon-color: var(--mdf-comp-outlined-text-field-invalid-focus-suffix-icon-color, var(--mdf-comp-text-field-invalid-focus-suffix-icon-color, var(--mdf-sys-color-error)));
  }

  & .mdf-field {
    & .formkit-input {
      --input-color: var(--mdf-comp-outlined-text-field-invalid-focus-input-color, var(--mdf-comp-text-field-invalid-focus-input-color, var(--mdf-sys-color-on-surface)));
      --input-caret-color: var(--mdf-comp-outlined-text-field-invalid-focus-input-caret-color, var(--mdf-comp-text-field-invalid-focus-input-caret-color, var(--mdf-sys-color-error)));
    }

    & .formkit-label {
      --label-color: var(--mdf-comp-outlined-text-field-invalid-focus-label-color, var(--mdf-comp-text-field-invalid-focus-label-color, var(--mdf-sys-color-error)));
    }
  }

  & .mdf-outline {
    --outline-color: var(--mdf-comp-outlined-text-field-invalid-focus-outline-color, var(--mdf-comp-text-field-invalid-focus-outline-color, var(--mdf-sys-color-error)));
  }
}
