:root {
  --mdf-sys-motion-duration-extra-long1: 700ms;
  --mdf-sys-motion-duration-extra-long2: 800ms;
  --mdf-sys-motion-duration-extra-long3: 900ms;
  --mdf-sys-motion-duration-extra-long4: 1000ms;

  --mdf-sys-motion-duration-long1: 450ms;
  --mdf-sys-motion-duration-long2: 500ms;
  --mdf-sys-motion-duration-long3: 550ms;
  --mdf-sys-motion-duration-long4: 600ms;

  --mdf-sys-motion-duration-medium1: 250ms;
  --mdf-sys-motion-duration-medium2: 300ms;
  --mdf-sys-motion-duration-medium3: 350ms;
  --mdf-sys-motion-duration-medium4: 400ms;

  --mdf-sys-motion-duration-short1: 50ms;
  --mdf-sys-motion-duration-short2: 100ms;
  --mdf-sys-motion-duration-short3: 150ms;
  --mdf-sys-motion-duration-short4: 200ms;

  --mdf-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --mdf-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --mdf-sys-motion-easing-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --mdf-sys-motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  --mdf-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --mdf-sys-motion-easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --mdf-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --mdf-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --mdf-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --mdf-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
}