.formkit-wrapper+.formkit-help {
  padding-inline-start: var(--mdf-cmp-help-layout-padding-inline-start, 16px);
  padding-inline-end: var(--mdf-cmp-help-layout-padding-inline-end, 16px);

  padding-block-start: var(--mdf-cmp-help-layout-padding-block-start, 4px);

  color: var(--mdf-cmp-help-state-label-color, var(--mdf-sys-color-on-surface-variant));
        
  font-family: var(--mdf-cmp-help-state-label-text-font, var(--mdf-sys-typescale-body-small-font));
  line-height: var(--mdf-cmp-help-state-label-line-height, var(--mdf-sys-typescale-body-small-line-height));
  font-size: var(--mdf-cmp-help-state-label-size, var(--mdf-sys-typescale-body-small-size));
  letter-spacing: var(--mdf-cmp-help-state-label-tracking, var(--mdf-sys-typescale-body-small-tracking));
  font-weight: var(--mdf-cmp-help-state-label-weight, var(--mdf-sys-typescale-body-small-weight));
}