[data-type] .mdf-container {
  position: absolute;
  z-index: -1;
  inset: 0;

  content: '';

  border-radius: inherit;
}

[data-type] .mdf-container {
  opacity: var(--container-opacity);
  background-color: var(--container-color, transparent);
}
