[data-type] .mdf-elevation, [data-type] .mdf-elevation::before, [data-type] .mdf-elevation::after {
  position: absolute;
  z-index: -1;
  inset: 0;

  content: '';

  border-radius: inherit;
}

[data-type] .mdf-elevation {
  &::before {
    opacity: 0.3;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--elevation, 0), 1) + clamp(0, var(--elevation, 0) - 3, 1) + calc(2 * clamp(0, var(--elevation, 0) - 4, 1))))
      calc(1px * (calc(2 * clamp(0, var(--elevation, 0), 1)) + clamp(0, var(--elevation, 0) - 2, 1) + clamp(0, var(--elevation, 0) - 4, 1)))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }

  /* Need to fix box-shadow calcs */
  &::after {
    opacity: 0.15;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--elevation, 0), 1) + clamp(0, var(--elevation, 0) - 1, 1) + calc(2 * clamp(0, var(--elevation, 0) - 2, 3))))
      calc(1px * (calc(3 * clamp(0, var(--elevation, 0), 2)) + calc(2 * clamp(0, var(--elevation, 0) - 2, 3))))
      calc(1px * (clamp(0, var(--elevation, 0), 4) + calc(2 * clamp(0, var(--elevation, 0) - 4, 1))))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }
}

[data-type]:has(:disabled) .mdf-elevation {
  pointer-events: none;

  &::before {
    opacity: 0.3;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--disabled-elevation, 0), 1) + clamp(0, var(--disabled-elevation, 0) - 3, 1) + calc(2 * clamp(0, var(--disabled-elevation, 0) - 4, 1))))
      calc(1px * (calc(2 * clamp(0, var(--disabled-elevation, 0), 1)) + clamp(0, var(--disabled-elevation, 0) - 2, 1) + clamp(0, var(--disabled-elevation, 0) - 4, 1)))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }

  /* Need to fix box-shadow calcs */
  &::after {
    opacity: 0.15;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--disabled-elevation, 0), 1) + clamp(0, var(--disabled-elevation, 0) - 1, 1) + calc(2 * clamp(0, var(--disabled-elevation, 0) - 2, 3))))
      calc(1px * (calc(3 * clamp(0, var(--disabled-elevation, 0), 2)) + calc(2 * clamp(0, var(--disabled-elevation, 0) - 2, 3))))
      calc(1px * (clamp(0, var(--disabled-elevation, 0), 4) + calc(2 * clamp(0, var(--disabled-elevation, 0) - 4, 1))))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }
}

[data-type]:has(:hover) .mdf-elevation {
  &::before {
    opacity: 0.3;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--hover-elevation, 0), 1) + clamp(0, var(--hover-elevation, 0) - 3, 1) + calc(2 * clamp(0, var(--hover-elevation, 0) - 4, 1))))
      calc(1px * (calc(2 * clamp(0, var(--hover-elevation, 0), 1)) + clamp(0, var(--hover-elevation, 0) - 2, 1) + clamp(0, var(--hover-elevation, 0) - 4, 1)))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }

  /* Need to fix box-shadow calcs */
  &::after {
    opacity: 0.15;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--hover-elevation, 0), 1) + clamp(0, var(--hover-elevation, 0) - 1, 1) + calc(2 * clamp(0, var(--hover-elevation, 0) - 2, 3))))
      calc(1px * (calc(3 * clamp(0, var(--hover-elevation, 0), 2)) + calc(2 * clamp(0, var(--hover-elevation, 0) - 2, 3))))
      calc(1px * (clamp(0, var(--hover-elevation, 0), 4) + calc(2 * clamp(0, var(--hover-elevation, 0) - 4, 1))))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }
}

[data-type]:has(:focus-visible) .mdf-elevation {
  &::before {
    opacity: 0.3;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--focus-elevation, 0), 1) + clamp(0, var(--focus-elevation, 0) - 3, 1) + calc(2 * clamp(0, var(--focus-elevation, 0) - 4, 1))))
      calc(1px * (calc(2 * clamp(0, var(--focus-elevation, 0), 1)) + clamp(0, var(--focus-elevation, 0) - 2, 1) + clamp(0, var(--focus-elevation, 0) - 4, 1)))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }

  /* Need to fix box-shadow calcs */
  &::after {
    opacity: 0.15;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--focus-elevation, 0), 1) + clamp(0, var(--focus-elevation, 0) - 1, 1) + calc(2 * clamp(0, var(--focus-elevation, 0) - 2, 3))))
      calc(1px * (calc(3 * clamp(0, var(--focus-elevation, 0), 2)) + calc(2 * clamp(0, var(--focus-elevation, 0) - 2, 3))))
      calc(1px * (clamp(0, var(--focus-elevation, 0), 4) + calc(2 * clamp(0, var(--focus-elevation, 0) - 4, 1))))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }
}

[data-type]:has(:active) .mdf-elevation {
  &::before {
    opacity: 0.3;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--pressed-elevation, 0), 1) + clamp(0, var(--pressed-elevation, 0) - 3, 1) + calc(2 * clamp(0, var(--pressed-elevation, 0) - 4, 1))))
      calc(1px * (calc(2 * clamp(0, var(--pressed-elevation, 0), 1)) + clamp(0, var(--pressed-elevation, 0) - 2, 1) + clamp(0, var(--pressed-elevation, 0) - 4, 1)))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }

  /* Need to fix box-shadow calcs */
  &::after {
    opacity: 0.15;
    box-shadow:
      0px
      calc(1px * (clamp(0, var(--pressed-elevation, 0), 1) + clamp(0, var(--pressed-elevation, 0) - 1, 1) + calc(2 * clamp(0, var(--pressed-elevation, 0) - 2, 3))))
      calc(1px * (calc(3 * clamp(0, var(--pressed-elevation, 0), 2)) + calc(2 * clamp(0, var(--pressed-elevation, 0) - 2, 3))))
      calc(1px * (clamp(0, var(--pressed-elevation, 0), 4) + calc(2 * clamp(0, var(--pressed-elevation, 0) - 4, 1))))
      0px
      var(--shadow-color, var(--mdf-sys-color-shadow));
  }
}
