[data-type] .mdf-outline {
  position: absolute;
  z-index: -1;
  inset: 0;

  content: '';

  border-radius: inherit;
}

[data-type] .mdf-outline {
  opacity: var(--outline-opacity);
  border-color: var(--outline-color);
  border-width: var(--outline-width);
  border-style: var(--outline-style);
}
