.formkit-outer {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

.formkit-input {
  appearance: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.formkit-help {
  padding-inline-start: var(--mdf-sec-messages-layer-padding-inline-start, 16px);
  padding-inline-end: var(--mdf-sec-messages-layer-padding-inline-end, 16px);

  padding-block-start: var(--mdf-sec-messages-layer-padding-block-start, 4px);

  color: var(--mdf-sec-messages-state-color, var(--mdf-sys-color-on-surface-variant));

  font-family: var(--mdf-sec-messages-state-font, var(--mdf-sys-typescale-body-small-font));
  line-height: var(--mdf-sec-messages-state-line-height, var(--mdf-sys-typescale-body-small-line-height));
  font-size: var(--mdf-sec-messages-state-size, var(--mdf-sys-typescale-body-small-size));
  letter-spacing: var(--mdf-sec-messages-state-tracking, var(--mdf-sys-typescale-body-small-tracking));
  font-weight: var(--mdf-sec-messages-state-weight, var(--mdf-sys-typescale-body-small-weight));
}

.formkit-outer:has(:disabled) .formkit-help {
  color: var(--mdf-sec-messages-disabled-state-color, var(--mdf-sys-color-on-surface));
  opacity: var(--mdf-sec-messages-disabled-state-opacity, 0.38);
}

[data-invalid=true] .formkit-help {
  display: none;
}

.formkit-messages {
  margin: 0;
  padding: 0;

  padding-inline-start: var(--mdf-sec-messages-layer-padding-inline-start, 16px);
  padding-inline-end: var(--mdf-sec-messages-layer-padding-inline-end, 16px);

  padding-block-start: var(--mdf-sec-messages-layer-padding-block-start, 4px);

  color: var(--mdf-sec-messages-state-color, var(--mdf-sys-color-on-surface-variant));

  font-family: var(--mdf-sec-messages-state-font, var(--mdf-sys-typescale-body-small-font));
  line-height: var(--mdf-sec-messages-state-line-height, var(--mdf-sys-typescale-body-small-line-height));
  font-size: var(--mdf-sec-messages-state-size, var(--mdf-sys-typescale-body-small-size));
  letter-spacing: var(--mdf-sec-messages-state-tracking, var(--mdf-sys-typescale-body-small-tracking));
  font-weight: var(--mdf-sec-messages-state-weight, var(--mdf-sys-typescale-body-small-weight));

  & .formkit-message {
    list-style-type: none;
  }
}

[data-invalid=true] .formkit-messages {
  color: var(--mdf-sec-messages-invalid-state-color, var(--mdf-sys-color-error));
}
